framework:
    messenger:
        # failure_transport: failed
        # serializer:
        #     default_serializer: App\Messenger\CelerySerializer

        transports:
            submission_amqp:
                dsn: "%env(MESSENGER_TRANSPORT_DSN)%"
                serializer: App\Messenger\CelerySerializer
                options:
                    exchange:
                        name: submission_exchange
                        type: direct
                    queues:
                        submission_normal_queue:
                            binding_keys: [normal_submission]
                            arguments: { "x-max-priority": "%app.messenger.max_priority%" }
                        submission_premium_queue:
                            binding_keys: [premium_submission]
                            arguments: { "x-max-priority": "%app.messenger.max_priority%" }

            winner_trigger_amqp:
                dsn: "%env(MESSENGER_TRANSPORT_DSN)%"
                serializer: messenger.transport.symfony_serializer
                options:
                    exchange:
                        name: delayed_winner_exchange
                        type: x-delayed-message
                    queues:
                        competition_winner_generation_queue:
                            binding_keys: [winner_trigger]

            # --- AMQP Alternative for Failed Messages ---
            # Define a separate DSN for the failed transport, pointing to your RabbitMQ.
            # The 'queue_name' parameter tells Messenger which queue to send failed messages to.
            # failed: '%env(MESSENGER_TRANSPORT_DSN)%?queue_name=failed_messages'

        routing:
            # Route your messages to the transports
            App\Message\CompetitionSubmittionMessage: submission_amqp
            App\Message\WinnerTriggerMessage: winner_trigger_amqp
# when@test:
#    framework:
#        messenger:
#            transports:
#                # replace with your transport name here (e.g., my_transport: 'in-memory://')
#                # For more Messenger testing tools, see https://github.com/zenstruck/messenger-test
#                async: 'in-memory://'
