apiVersion: batch/v1
kind: CronJob
metadata:
  name: blaze-competition-cronjob
  namespace: blaze-competition
spec:
  schedule: "*/1 * * * *" # Runs every minute (cron format)
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: cronjob
              image: 127.0.0.1:32000/app-php-prod:latest
              imagePullPolicy: Always
              command:
                - php
                - bin/console
                - app:capture-competition-stats
              envFrom:
                - configMapRef:
                    name: blaze-competition-config # Pulls common environment variables
              env: # Override specific environment variables for cronjob
                - name: RUN_MIGRATIONS
                  value: "false"
              resources:
                limits:
                  memory: "128Mi"
                  cpu: "250m"
                requests:
                  memory: "32Mi"
                  cpu: "100m"
          restartPolicy: OnFailure