<h1>Welcome!</h1>

<p>Thank you for Submitting</p>

<p>Prr kanei to Niaou Niaou sta keramidia</p>
{# <ul>
    <li><a href="https://example.com/getting-started">Getting Started Guide</a></li>
    <li><a href="https://example.com/faq">FAQ</a></li> #}
{# </ul> #}

<p>Token : {{ token }}</p>

<p>Will expiring at : {{ expiration_time }}</p>

<p>Best regards,<br>Kipapa</p>