apiVersion: v1
kind: ConfigMap
metadata:
  name: blaze-competition-config
  namespace: blaze-competition
data:
  APP_ENV: "prod"
  APP_SECRET: ""
  SERVER_NAME: "blaze-competition.demo, php:80"
  APP_URL: "https://blaze-competition.demo"
  POSTGRES_VERSION: "16"
  POSTGRES_DB: "app"
  POSTGRES_USER: "app"
  POSTGRES_PASSWORD: "!ChangeMe!"
  POSTGRES_CHARSET: "utf8"
  DATABASE_URL: "postgresql://app:!ChangeMe!@database:5432/app?serverVersion=16&charset=utf8"
  MESSENGER_TRANSPORT_DSN: "amqp://guest:guest@rabbitmq:5672/%2f"
  MESSAGE_QUEUE_MAX_PRIORITY: "5"
  RABBIT_MQ_MANAGEMENT_BASE_URL: "http://rabbitmq:15672"
  RABBIT_MQ_MANAGEMENT_USERNAME: "guest"
  RABBIT_MQ_MANAGEMENT_PASSWORD: "guest"
  REDIS_URL: "redis://redis:6379"
  REDIS_HOST: "redis"
  REDIS_PORT: "6379"
  REDIS_CELERY_DB: "1"
  REDIS_SYMFONY_DB: "0"
  MERCURE_URL: "http://php/.well-known/mercure"
  MERCURE_PUBLIC_URL: "https://blaze-competition.demo/.well-known/mercure"
  MERCURE_JWT_SECRET: "!ChangeThisMercureHubJWTSecretKey!"
  MERCURE_PUBLISHER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
  MERCURE_SUBSCRIBER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
  MAILER_DSN: "smtp://mailer:1025"
  RUN_MIGRATIONS: "true"
  XDEBUG_MODE: "off"

  CADDY_EXTRA_CONFIG: |
      https:// {
        tls /etc/caddy/certs/tls.crt /etc/caddy/certs/tls.key
      }