{% extends 'base.html.twig' %}

{% block title %}Ενεργοί Διαγωνισμοί{% endblock %}

{% block body %}
    <h1>Ενεργοί Διαγωνισμοί</h1>

    {% if competitions is empty %}
        <p>Δεν υπάρχουν ενεργοί διαγωνισμοί αυτή τη στιγμή.</p>
    {% else %}
        <ul>
            {% for competition in competitions %}
                <li>
                    {% include 'public/_competition_item.html.twig' with {'competition': competition} %}
                    <p><a href="{{ path('public_competition_submit', {'id': competition.id}) }}">Δήλωση Συμμετοχής</a></p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}